[Unit]
Description=Docker Compose Application Service
Requires=docker.service docker-privacy.service
After=docker.service docker-privacy.service

[Service]
Environment="ENV=prd"
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/opt/docker
ExecStart=docker-compose -f www.yml pull ; docker-compose -f www.yml up --build -d ; docker exec mail postmap -F /etc/postfix/sni_maps ; docker exec mail postfix stop ; docker exec mail postfix start ; 
ExecStop=docker-compose -f www.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target